.view-btn  {
  width: 40px;
	height: 30px;
	border: none;
	background-color: #eee;
	border-radius: 3px;   

}

.view-btn:hover{
	background-color: #aaa;
}

.selected,.selected:hover{
	color: #fff;
	background-color: #333;
}

nav .navbar-brand{
	color: blue;
}